BLOGGER_API_KEY=your_google_api_key_here
BLOGGER_BLOG_ID=6392874604663604321
NEXT_PUBLIC_SITE_URL=https://www.najiyadaily.com
NEXT_PUBLIC_BOOKING_PARTNER_ID=101867344
NEXT_PUBLIC_AMAZON_TAG=najiyadaily-20
REVALIDATE_SECRET=your_secret_for_webhooks
